<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<div class="container">
  <%= simple_form_for @bio, :html => { :class => 'form-horizontal' } do |f| %>

    <%= f.input :content, as: :ckeditor , label: "Conteúdo" %>
    
    <div class="span12">
      <%= f.submit nil, :class => 'btn btn-inverse' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      bios_path, :class => 'btn btn-danger' %>
    </div>
  <% end %>
</div>



