<div class="container">
	<!-- <div class="row">
		<h1>ENDORSEE</h1>
		<h1>Tiago Belém é Endorsee</h1>
		<table>
			<tr>
				<div class="span12"><th>Link Endorsee</th></div>
				<div class="span12"><th>Link Apoio</th></div>
			</tr>

			<% @tiago_endorsees.each do |tiago_endorsee| %>
			<tr>
				<td> <a href="<%= tiago_endorsee.link %>"><%= tiago_endorsee.link %></a> </td>
			</tr>
			<% end %>
			<% @patronages.each do |patronage| %>
			<th>
				<td><a href="<%= patronage.link %>"><%= patronage.link %></a></td>
			</th>
			<% end %>
		</table>
	</div> -->

	<div class="row-fluid">
		<h1>ENDORSEE</h1>
		<h3>Tiago Belém é Endorsee</h3>
		<div class="span12 well well-large">
			<% @tiago_endorsees.each do |tiago_endorsee| %>
				<a href="<%= tiago_endorsee.link %>"><%= tiago_endorsee.link %></a>
			<% end %>
		</div>
		<h3>Apoio</h3>
		<div class="span12 well well-large">
			<% @patronages.each do |patronage| %>
			<a href="<%= patronage.link %>"><%= patronage.link %></a>
			<% end %>
		</div>
		<h3>Realização</h3>
		<div class="span12 well well-large">
			<% @realizations.each do |realization| %>
  			<a href="<%= realization.link %>"><%= realization.link %></a>
			<% end %>
		</div>
		<h3>Parceiros</h3>
		<div class="span12 well well-large">
			<% @partners.each do |partner| %>
  			<a href="<%= partner.link %>"><%= partner.link %></a>
			<% end %>
		</div>
	</div>
</div>