<%= form_for(@tiago_belem) do |f| %>
  <% if @tiago_belem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tiago_belem.errors.count, "error") %> prohibited this tiago_belem from being saved:</h2>

      <ul>
      <% @tiago_belem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
