<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<%= simple_form_for @schedule, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :date_event, :as => :string, label: "Data do Evento", :input_html => {"data-behaviour" => "datepicker", "readonly" => true} %>
  <%= f.input :specification_event, as: :ckeditor , label: "Especificação do Evento" %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                schedules_path, :class => 'btn' %>
  </div>
<% end %>

<script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker();
</script>