	<style type="text/css">
	.centro {
		text-align: center;
	}
	.descer{
		padding-top: 10%;
		padding-bottom: 10%;
	}
	</style>
	
	


	
	<div class="container">	
		
		<%= render 'layouts/carousel' %>

		
	</div>

	


	<div class="container marketing descer">
		<!--Três colunas abaixo do carousel-->
		<div class="row">
<<<<<<< HEAD
			<div class="span5 centro">
				<%= image_tag 't7.jpg', height: 200, width: 350 %>
=======
			<div class="span4 centro" >
				
				<img src="../assets/t7_5.jpg" height: 250, width: 1250> 

>>>>>>> 882491fbec328687ca61cffc5add1d2acda995cb
			</div>
			<div class="span7 centro" style="padding-top: 90px;">
				<a href=""><%= image_tag 't11.jpg', height: 250, width: 1250 %></a>
			</div>
		</div>
	</div>

	<!-- <button class="btn"><%= link_to 'Bio', :controller => :bios, :action => :index%></br>
	</button>
	<button class="btn"><%= link_to 'Agenda', :controller => :schedules, :action => :index %></br>
	</button>
	<button class="btn"><%= link_to 'Endorsee', :controller => :endorsees, :action => :index %>
	</button> -->
