<%= simple_form_for @contact, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :facebook %>
  <%= f.input :cell_phone %>
  <%= f.input :email %>
  <%= f.input :location %>
  <%= f.input :twitter %>
  <%= f.input :youtube %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contacts_path, :class => 'btn' %>
  </div>
<% end %>
