
<div class="row-fluid">
    <div class="span4" id="fundo_aplicar_dois">
      <img src="../assets/tiago6.jpg" style="padding-top:0px;">
    </div>
    <div class="span8">
      
        <%- model_class = Contact -%>
    <div class="page-header">
      <div id="fundo_dois">
        <div id="rodape">
      <h1> Contato</h1>
    </div>
    </div>
    </div>

</hr>

    
    <div class="container marketing">
      <% @contacts.each do |contact| %>
       <div class="featurette">
        <h2 class="featurette-heading">
            Facebook: <%= contact.facebook %>
        </h2>
        <h2 class="featurette-heading"> Number Phone: <%= contact.number_phone %></h2>
        <h2 class="featurette-heading"><b> Email: <%= contact.email %></b></h2>
        <h2 class="featurette-heading"><b> Twitter: <%= contact.twitter %></b></h2>
        <h2 class="featurette-heading"><b> Youtube: <%= contact.youtube %></b></h2>
       </div>
       <% end %> 
    </div>


    </div>
</div>
