<div class="row-fluid">
    <div class="span4">
      <img src="../assets/tiago13.JPG">
    </div>
    <div class="span8">
        <%- model_class = Contact -%>
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    </div>

</hr>

    
    <div class="container marketing">
      <% @contacts.each do |contact| %>
       <div class="featurette">
        <h2 class="featurette-heading">
            Facebook: <%= contact.facebook %>
        </h2>
        <h2 class="featurette-heading"> Number Phone: <%= contact.number_phone %></h2>
        <h2 class="featurette-heading"><b> Email: <%= contact.email %></b></h2>
        <h2 class="featurette-heading"><b> Twitter: <%= contact.twitter %></b></h2>
        <h2 class="featurette-heading"><b> Youtube: <%= contact.youtube %></b></h2>
       </div>
       <% end %> 
    </div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_contact_path,
            :class => 'btn btn-inverse' %>

    </div>
</div>
